footer {
    background-color: black;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 7vh;
    position: fixed;
    bottom: 0;
}